In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
train_df = pd.read_csv("train.csv")

In [67]:
test_df = pd.read_csv("test.csv")

In [68]:
train_df.shape

(1460, 81)

In [69]:
test_df.shape

(1459, 80)

In [70]:
train_df.drop(columns=["SalePrice"], inplace=True)

In [71]:
train_df.shape

(1460, 80)

In [72]:
df = pd.concat([train_df,test_df], ignore_index=True)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [73]:
df = df.drop(columns=["PoolQC", "MiscFeature", "Fence", "Alley"])

In [74]:
# Replace NaN values in MasVnrType with "None"
df["MasVnrType"].fillna("None", inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\1660838850.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["MasVnrType"].fillna("None", inplace=True)

In [75]:
# filling the missing values with 0
df["MasVnrArea"].fillna(0, inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\2422091678.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["MasVnrArea"].fillna(0, inplace=True)

In [76]:
# Fill missing 'LotFrontage' values with the median of the column to handle missing data.
df["LotFrontage"].fillna(df["LotFrontage"].median(), inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\629529113.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["LotFrontage"].fillna(df["LotFrontage"].median(), inplace=True)

In [77]:
# Handling missing values for categorical columns
df["BsmtQual"].fillna("None", inplace=True)
df["BsmtCond"].fillna("None", inplace=True)
df["BsmtExposure"].fillna("None", inplace=True)
df["BsmtFinType1"].fillna("None", inplace=True)
df["BsmtFinType2"].fillna("None", inplace=True)

# Handling missing values for numeric columns
df["BsmtFinSF1"].fillna(0, inplace=True)
df["BsmtFinSF2"].fillna(0, inplace=True)
df["BsmtUnfSF"].fillna(0, inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtQual"].fillna("None", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtCond"].fillna("None", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtExposure"].fillna("None", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtFinType1"].fillna("None", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtFinType2"].fillna("None", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtFinSF1"].fillna(0, inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtFinSF2"].fillna(0, inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\656317837.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["BsmtUnfSF"].fillna(0, inplace=True)

In [78]:
df["Electrical"].fillna(df["Electrical"].mode()[0], inplace = True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\2455116474.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Electrical"].fillna(df["Electrical"].mode()[0], inplace = True)

In [79]:
df["FireplaceQu"].fillna("None", inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\1393036608.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["FireplaceQu"].fillna("None", inplace=True)

In [80]:
# Fill missing values in 'GarageType', 'GarageFinish', 'GarageQual', and 'GarageCond' with 'No Garage'
df["GarageType"].fillna("No Garage", inplace=True)
df["GarageFinish"].fillna("No Garage", inplace=True)
df["GarageQual"].fillna("No Garage", inplace=True)
df["GarageCond"].fillna("No Garage", inplace=True)

# Fill missing values in 'GarageYrBlt' with 0 (no garage built)
df["GarageYrBlt"].fillna(0, inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_10668\4092479165.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GarageType"].fillna("No Garage", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\4092479165.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GarageFinish"].fillna("No Garage", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\4092479165.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GarageQual"].fillna("No Garage", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\4092479165.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GarageCond"].fillna("No Garage", inplace=True)
C:\Users\acer\AppData\Local\Temp\ipykernel_10668\4092479165.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["GarageYrBlt"].fillna(0, inplace=True)

In [81]:
from sklearn.preprocessing import LabelEncoder

In [82]:
le = LabelEncoder()
df['Street'] = le.fit_transform(df['Street'])

In [83]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoder to encode MSZoning
ohe = OneHotEncoder(drop='first', sparse_output=False)
encoded_mszoning = ohe.fit_transform(df[['MSZoning']])

# Create a DataFrame with the encoded columns
encoded_df = pd.DataFrame(encoded_mszoning, columns=ohe.get_feature_names_out(['MSZoning']))

# Concatenate with the original dataframe (drop original 'MSZoning' column)
df = pd.concat([df, encoded_df], axis=1)
df.drop(['MSZoning'], axis=1, inplace=True)

In [84]:
from sklearn.preprocessing import OrdinalEncoder

# OrdinalEncoder to encode LotShape
lotshape_order = ['IR3', 'IR2', 'IR1', 'Reg']  # Based on the natural order
encoder = OrdinalEncoder(categories=[lotshape_order])

# Apply encoding
df['LotShape_encoded'] = encoder.fit_transform(df[['LotShape']])
df.drop(['LotShape'], axis=1, inplace=True)

In [85]:
# OrdinalEncoder to encode LandContour
landcontour_order = ['Low', 'Lvl', 'Bnk', 'HLS']  # Based on the natural order
encoder = OrdinalEncoder(categories=[landcontour_order])

# Apply encoding
df['LandContour_encoded'] = encoder.fit_transform(df[['LandContour']])
df.drop(['LandContour'], axis=1, inplace=True)

In [86]:
from sklearn.preprocessing import OrdinalEncoder

# Define the mapping for the ordinal columns
ordinal_mapping = {
    'ExterQual': ['Po', 'Fa', 'TA', 'Gd', 'Ex'],  # Quality scale for exterior material
    'BsmtQual': ['None', 'Po', 'Fa', 'TA', 'Gd', 'Ex'],  # Basement quality scale
    'BsmtCond': ['None', 'Po', 'Fa', 'TA', 'Gd']  # Basement condition scale
}

# Initialize OrdinalEncoder
oe = OrdinalEncoder()

# Apply OrdinalEncoder to the specified columns
df['ExterQual'] = oe.fit_transform(df[['ExterQual']])
df['BsmtQual'] = oe.fit_transform(df[['BsmtQual']])
df['BsmtCond'] = oe.fit_transform(df[['BsmtCond']])

# Check the results after ordinal encoding
print(df[['ExterQual', 'BsmtQual', 'BsmtCond']].head())

   ExterQual  BsmtQual  BsmtCond
0        2.0       2.0       4.0
1        3.0       2.0       4.0
2        2.0       2.0       4.0
3        3.0       4.0       1.0
4        2.0       2.0       4.0

In [87]:
from sklearn.preprocessing import OneHotEncoder

# List of nominal columns you want to apply OneHotEncoding to
nominal_columns = [
    'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 
    'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 
    'MasVnrType', 'Foundation', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'GarageType', 
    'GarageFinish', 'GarageQual', 'GarageCond'
]

# Initialize OneHotEncoder (drop the first column to avoid multicollinearity)
ohe = OneHotEncoder(drop='first', sparse_output=False)

# Apply OneHotEncoder to the nominal columns and convert the result into a DataFrame
encoded_nominal = ohe.fit_transform(df[nominal_columns])

# Create a DataFrame for the encoded nominal columns with proper column names
encoded_df = pd.DataFrame(encoded_nominal, columns=ohe.get_feature_names_out(nominal_columns))

# Concatenate the encoded nominal columns back to the original DataFrame (excluding the original nominal columns)
df_encoded = pd.concat([df.drop(columns=nominal_columns), encoded_df], axis=1)

# Check the results after one-hot encoding
print(df_encoded.head())

   Id  MSSubClass  LotFrontage  LotArea  Street  OverallQual  OverallCond  \
0   1          60         65.0     8450       1            7            5
1   2          20         80.0     9600       1            6            8
2   3          60         68.0    11250       1            7            5
3   4          70         60.0     9550       1            7            5
4   5          60         84.0    14260       1            8            5

   YearBuilt  YearRemodAdd  MasVnrArea  ...  GarageQual_Fa GarageQual_Gd  \
0       2003          2003       196.0  ...            0.0           0.0
1       1976          1976         0.0  ...            0.0           0.0
2       2001          2002       162.0  ...            0.0           0.0
3       1915          1970         0.0  ...            0.0           0.0
4       2000          2000       350.0  ...            0.0           0.0

   GarageQual_No Garage  GarageQual_Po  GarageQual_TA  GarageCond_Fa  \
0                   0.0            0.0            1.0            0.0
1                   0.0            0.0            1.0            0.0
2                   0.0            0.0            1.0            0.0
3                   0.0            0.0            1.0            0.0
4                   0.0            0.0            1.0            0.0

   GarageCond_Gd  GarageCond_No Garage GarageCond_Po GarageCond_TA
0            0.0                   0.0           0.0           1.0
1            0.0                   0.0           0.0           1.0
2            0.0                   0.0           0.0           1.0
3            0.0                   0.0           0.0           1.0
4            0.0                   0.0           0.0           1.0

[5 rows x 203 columns]

In [88]:
from sklearn.preprocessing import OrdinalEncoder

# Define an Ordinal Encoder for ordinal columns
oe = OrdinalEncoder()

# List of ordinal columns
ordinal_columns = ['ExterCond', 'HeatingQC', 'KitchenQual', 'Functional', 'FireplaceQu']

# Apply Ordinal Encoding to ordinal columns
df_encoded[ordinal_columns] = oe.fit_transform(df[ordinal_columns])

In [89]:
from sklearn.preprocessing import OneHotEncoder

# Define a OneHotEncoder for nominal columns (drop='first' to avoid multicollinearity)
ohe = OneHotEncoder(drop='first', sparse_output=False)

# List of nominal columns
nominal_columns = ['Heating', 'CentralAir', 'Electrical', 'PavedDrive', 'SaleType', 'SaleCondition']

# Apply OneHotEncoding to nominal columns
encoded_nominal = ohe.fit_transform(df_encoded[nominal_columns])

# Convert to DataFrame and concatenate with the original data
encoded = pd.DataFrame(encoded_nominal, columns=ohe.get_feature_names_out(nominal_columns))
encoded_df = pd.concat([df_encoded.drop(columns=nominal_columns), encoded], axis=1)

# Check the updated DataFrame
print(encoded_df.head())

   Id  MSSubClass  LotFrontage  LotArea  Street  OverallQual  OverallCond  \
0   1          60         65.0     8450       1            7            5
1   2          20         80.0     9600       1            6            8
2   3          60         68.0    11250       1            7            5
3   4          70         60.0     9550       1            7            5
4   5          60         84.0    14260       1            8            5

   YearBuilt  YearRemodAdd  MasVnrArea  ...  SaleType_ConLw  SaleType_New  \
0       2003          2003       196.0  ...             0.0           0.0
1       1976          1976         0.0  ...             0.0           0.0
2       2001          2002       162.0  ...             0.0           0.0
3       1915          1970         0.0  ...             0.0           0.0
4       2000          2000       350.0  ...             0.0           0.0

   SaleType_Oth  SaleType_WD  SaleType_nan  SaleCondition_AdjLand  \
0           0.0          1.0           0.0                    0.0
1           0.0          1.0           0.0                    0.0
2           0.0          1.0           0.0                    0.0
3           0.0          1.0           0.0                    0.0
4           0.0          1.0           0.0                    0.0

   SaleCondition_Alloca  SaleCondition_Family  SaleCondition_Normal  \
0                   0.0                   0.0                   1.0
1                   0.0                   0.0                   1.0
2                   0.0                   0.0                   1.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   1.0

   SaleCondition_Partial
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

[5 rows x 223 columns]

In [90]:
# Filter columns with dtype 'object'
object_columns = encoded_df.select_dtypes(include=['object'])

# Display the information of the columns with dtype 'object'
print(object_columns.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Empty DataFrame
None

In [91]:
# Save DataFrame to a CSV file
encoded_df.to_csv('encoded.csv', index=False)

In [92]:
df = pd.read_csv("encoded.csv")

In [93]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoder to encode MSSubClass
ohe = OneHotEncoder(drop='first', sparse_output=False)
encoded_mssubclass = ohe.fit_transform(df[['MSSubClass']])

# Create a DataFrame with the encoded columns
encoded_df = pd.DataFrame(encoded_mssubclass, columns=ohe.get_feature_names_out(['MSSubClass']))

# Concatenate with the original dataframe (drop original 'MSZoning' column)
df = pd.concat([df, encoded_df], axis=1)
df.drop(['MSSubClass'], axis=1, inplace=True)

In [94]:
q1 = df["LotArea"].quantile(0.025)
q3 = df["LotArea"].quantile(0.975)
IQR = q3 - q1

lower_bound = q1 - 1.5 * IQR
upper_bound = q3 + 1.5 * IQR

outliers = df[(df['LotArea'] < lower_bound) | (df['LotArea'] > upper_bound)]
outliers

,Id,LotFrontage,LotArea,Street,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,MSSubClass_70,MSSubClass_75,MSSubClass_80,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190
249,250,68.0,159000,1,6,7,1958,2006,472.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
313,314,150.0,215245,1,7,5,1965,1965,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
335,336,68.0,164660,0,5,6,1965,1965,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
384,385,68.0,53107,1,6,5,1992,1992,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
451,452,62.0,70761,1,7,5,1975,1975,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
457,458,68.0,53227,1,4,6,1954,1994,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
706,707,68.0,115149,1,7,5,1971,2002,351.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
769,770,47.0,53504,1,8,5,2003,2003,603.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1298,1299,313.0,63887,1,10,5,2008,2008,796.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1396,1397,68.0,57200,1,5,5,1948,1950,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2250,2251,68.0,56600,1,5,1,1900,1950,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2263,2264,52.0,51974,1,9,5,2006,2007,710.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
# Calculate 97.5th percentile
lot_area_threshold = df['LotArea'].quantile(0.975)

# Cap values at the 97.5th percentile
df['LotArea'] = np.where(df['LotArea'] > lot_area_threshold, lot_area_threshold, df['LotArea'])

In [96]:
# Save DataFrame to a CSV file
df.to_csv('encoded.csv', index=False)

In [97]:
df = pd.read_csv("encoded.csv")

In [98]:
# Calculate 97.5th percentile
lot_frontage_threshold = df['LotFrontage'].quantile(0.975)

# Cap values at the 97.5th percentile
df['LotFrontage'] = np.where(df['LotFrontage'] > lot_frontage_threshold, lot_frontage_threshold, df['LotFrontage'])

In [99]:
# Calculate 97.5th percentile
mas_vnr_area_threshold = df['MasVnrArea'].quantile(0.975)

# Cap values at the 97.5th percentile
df['MasVnrArea'] = np.where(df['MasVnrArea'] > mas_vnr_area_threshold, mas_vnr_area_threshold, df['MasVnrArea'])

In [100]:
# Calculate 97.5th percentile
bsmt_finSF_threshold = df['BsmtFinSF1'].quantile(0.975)

# Cap values at the 97.5th percentile
df['BsmtFinSF1'] = np.where(df['BsmtFinSF1'] > bsmt_finSF_threshold, bsmt_finSF_threshold, df['BsmtFinSF1'])

In [101]:
# Calculate 97.5th percentile
bsmt_finSF2_threshold = df['BsmtFinSF2'].quantile(0.975)

# Cap values at the 97.5th percentile
df['BsmtFinSF2'] = np.where(df['BsmtFinSF2'] > bsmt_finSF2_threshold, bsmt_finSF2_threshold, df['BsmtFinSF2'])

In [102]:
# Calculate 97.5th percentile
total_bsmtSF_threshold = df['TotalBsmtSF'].quantile(0.975)

# Cap values at the 97.5th percentile
df['TotalBsmtSF'] = np.where(df['TotalBsmtSF'] > total_bsmtSF_threshold, total_bsmtSF_threshold, df['TotalBsmtSF'])

In [103]:
df.to_csv("encoded.csv", index=False)

In [104]:
df = pd.read_csv("encoded.csv")

In [105]:
# Calculate 97.5th percentile
first_flr_SF = df['1stFlrSF'].quantile(0.975)

# Cap values at the 97.5th percentile
df['1stFlrSF'] = np.where(df['1stFlrSF'] > first_flr_SF, first_flr_SF, df['1stFlrSF'])

In [106]:
# Calculate 97.5th percentile
gr_liv_area = df['GrLivArea'].quantile(0.975)

# Cap values at the 97.5th percentile
df['GrLivArea'] = np.where(df['GrLivArea'] > gr_liv_area, gr_liv_area, df['GrLivArea'])

In [107]:
def outlier_handler(column_name):
    # Calculate 97.5th percentile
    threshold = column_name.quantile(0.975)

    # Cap values at the 97.5th percentile
    column_name = np.where(column_name > threshold, threshold, column_name)

In [108]:
outlier_handler(df["WoodDeckSF"])

In [109]:
# Calculate age of the house at the time of sale
df['HouseAge'] = df['YrSold'] - df['YearBuilt']

In [110]:
df["HouseAge"].value_counts()

HouseAge
 1      218
 0      116
 2       90
 4       76
 6       66
       ...
 125      1
 120      1
 113      1
-1        1
 101      1
Name: count, Length: 128, dtype: int64

In [111]:
# Calculate age since last remodeling at the time of sale
df['RemodelAge'] = df['YrSold'] - df['YearRemodAdd']

In [112]:
# Calculate the age of the garage at the time of sale (assuming GarageYrBlt is available)
df['GarageAge'] = df['YrSold'] - df['GarageYrBlt']

In [113]:
# Drop the original year columns, as they have been transformed into age columns
df.drop(['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold'], axis=1, inplace=True)

In [114]:
df

,Id,LotFrontage,LotArea,Street,OverallQual,OverallCond,MasVnrArea,ExterQual,ExterCond,BsmtQual,...,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,HouseAge,RemodelAge,GarageAge
0,1,65.0,8450.0,1,7,5,196.0,2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,5,5.0
1,2,80.0,9600.0,1,6,8,0.0,3.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31,31,31.0
2,3,68.0,11250.0,1,7,5,162.0,2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,6,7.0
3,4,60.0,9550.0,1,7,5,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91,36,8.0
4,5,84.0,14260.0,1,8,5,350.0,2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,8,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,21.0,1936.0,1,4,7,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36,36,2006.0
2915,2916,21.0,1894.0,1,4,5,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36,36,36.0
2916,2917,118.0,20000.0,1,5,7,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46,10,46.0
2917,2918,62.0,10441.0,1,5,5,0.0,3.0,4.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,14,14,2006.0
2918,2919,74.0,9627.0,1,7,5,94.0,3.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,12,13.0

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Columns: 236 entries, Id to GarageAge
dtypes: float64(214), int64(22)
memory usage: 5.3 MB

In [118]:
# Assuming `df` is your DataFrame
# Count the number of NaN values in each column
nan_counts = df.isnull().sum()

# Identify partially empty columns (columns with some NaN values but not completely empty)
partially_empty_columns = nan_counts[(nan_counts > 0) & (nan_counts < len(df))].index.tolist()

# Print the list of partially empty columns
print(f"Partially empty columns: {partially_empty_columns}")
print(f"Number of partially empty columns: {len(partially_empty_columns)}")

Partially empty columns: []
Number of partially empty columns: 0

In [117]:
# Handle missing values in partially empty columns

# For columns where missing means no feature, fill with 0 (e.g., no basement, no garage)
df['TotalBsmtSF'] = df['TotalBsmtSF'].fillna(0)
df['BsmtFullBath'] = df['BsmtFullBath'].fillna(0)
df['BsmtHalfBath'] = df['BsmtHalfBath'].fillna(0)
df['GarageCars'] = df['GarageCars'].fillna(0)
df['GarageArea'] = df['GarageArea'].fillna(0)

# For categorical columns, fill missing values with the mode (most frequent value)
df['KitchenQual'] = df['KitchenQual'].fillna(df['KitchenQual'].mode()[0])
df['Functional'] = df['Functional'].fillna(df['Functional'].mode()[0])

# Confirm the missing values have been handled
print(df.isnull().sum())

Id                0
LotFrontage       0
LotArea           0
Street            0
OverallQual       0
                 ..
MSSubClass_180    0
MSSubClass_190    0
HouseAge          0
RemodelAge        0
GarageAge         0
Length: 236, dtype: int64

In [134]:
# Split into two halves
X = df.iloc[:1460]   # First 1460 rows
X_test = df.iloc[1460:]  # Remaining 1459 rows

In [136]:
train_df = pd.read_csv("train.csv")

In [137]:
y = train_df["SalePrice"]

In [138]:
from sklearn.linear_model import LinearRegression

# Assume X, Y, and test_df are already defined
# X is the DataFrame containing independent variables (with 'ID' column included)
# Y is the Series/DataFrame containing the dependent variable
# test_df is the DataFrame for testing (with 'ID' and other independent variables)

# Step 1: Remove 'ID' column from X for training
X_train = X.drop(columns=['Id'])

# Step 2: Train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y)

# Step 3: Prepare the test data by removing 'ID' column
X_test = X_test.drop(columns=['Id'])

# Step 4: Predict the output for the test data
predictions = model.predict(X_test)

# Step 5: Create the final output DataFrame with 'ID' and 'SalePrice' (predicted values)
output_df = pd.DataFrame({
    'Id': test_df['Id'],         # Keep 'ID' from the test data
    'SalePrice': predictions      # Predicted values for 'SalePrice'
})

# Display the final output DataFrame
print(output_df)

        Id      SalePrice
0     1461  115381.000143
1     1462  172280.987575
2     1463  184476.209903
3     1464  184672.642302
4     1465  212937.133491
...    ...            ...
1454  2915   77139.547521
1455  2916   64156.324401
1456  2917  178612.407832
1457  2918  102906.661537
1458  2919  210443.124960

[1459 rows x 2 columns]

In [132]:
X_test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [133]:
df

,Id,LotFrontage,LotArea,Street,OverallQual,OverallCond,MasVnrArea,ExterQual,ExterCond,BsmtQual,...,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,HouseAge,RemodelAge,GarageAge
0,1,65.0,8450.0,1,7,5,196.0,2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,5,5.0
1,2,80.0,9600.0,1,6,8,0.0,3.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31,31,31.0
2,3,68.0,11250.0,1,7,5,162.0,2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,6,7.0
3,4,60.0,9550.0,1,7,5,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91,36,8.0
4,5,84.0,14260.0,1,8,5,350.0,2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,8,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,21.0,1936.0,1,4,7,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36,36,2006.0
2915,2916,21.0,1894.0,1,4,5,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36,36,36.0
2916,2917,118.0,20000.0,1,5,7,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46,10,46.0
2917,2918,62.0,10441.0,1,5,5,0.0,3.0,4.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,14,14,2006.0
2918,2919,74.0,9627.0,1,7,5,94.0,3.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,12,13.0

In [135]:
X_test

,Id,LotFrontage,LotArea,Street,OverallQual,OverallCond,MasVnrArea,ExterQual,ExterCond,BsmtQual,...,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,HouseAge,RemodelAge,GarageAge
1460,1461,80.0,11622.0,1,5,6,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49,49,49.0
1461,1462,81.0,14267.0,1,6,6,108.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52,52,52.0
1462,1463,74.0,13830.0,1,5,5,0.0,3.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,12,13.0
1463,1464,78.0,9978.0,1,6,6,20.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,12,12.0
1464,1465,43.0,5005.0,1,8,5,0.0,2.0,4.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,18,18,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,21.0,1936.0,1,4,7,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36,36,2006.0
2915,2916,21.0,1894.0,1,4,5,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,36,36,36.0
2916,2917,118.0,20000.0,1,5,7,0.0,3.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46,10,46.0
2917,2918,62.0,10441.0,1,5,5,0.0,3.0,4.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,14,14,2006.0
2918,2919,74.0,9627.0,1,7,5,94.0,3.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,12,13.0

In [140]:
output_df.to_csv("submission.csv", index=False)